// design tokens

/*----------------------------
 colors
----------------------------*/
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$light-blue: hsl(0, 0%, 98%);

/*----------------------------
typography
----------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 0.9375rem;
}

