/*----------------------------
      layout
 ----------------------------*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsla(0, 0%, 98%, 1);
}

.card {
  max-width: 311px;
  // max-width: 450px;
  margin: 85px 78px;

  @media only screen and (min-width: 1440px) {
    max-width: 1110px;
  }
}

/*----------------------------
      info section 
----------------------------*/

.info {
  text-align: center;

  &__heading {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.17px;
    font-weight: 600;
    color: $dark-blue;

    @media only screen and (min-width: 1440px) {
      font-size: 36px;
      line-height: 54px;
      letter-spacing: 0.25px;
    }
  }
  &__title {
    display: block;
    font-weight: 200;
    color: $dark-blue;
  }

  &__paragraph {
    line-height: 25px;
    letter-spacing: 0.1px;
    color: $grayish-blue;

    @media only screen and (min-width: 1440px) {
      max-width: 540px;
      margin: 1.1rem auto;
    }
  }
}

.features {
  margin: 76px 0 0;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    margin: 64px 0 0;
    gap: 30px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 4px;
    box-shadow: 0px 0.9375rem 30px -11px hsla(213, 47%, 67%, 0.5);
    height: 166px;
    padding: 24.45px 28px 28px 28px;
    border-top: 3.55px solid;

    @media only screen and (min-width: 1440px) {
      width: 286px;
      height: 186px;
      border-top: 4px solid;
      border-radius: 5px;
      padding: 28px 32px 32px 32px ;
    }
  }

  &__feature--cyan {
    border-top-color: $cyan;

    @media only screen and (min-width: 1440px) {
      align-self: center;
    }
    
  }

  &__feature--red {
    border-top-color: $red;
    margin-bottom: 25px;
    @media only screen and (min-width: 1440px) {
      margin-bottom: 30px;
    }
  }


  &__feature--orange {
    border-top-color: $orange;
  }

  &__feature--blue {
    border-top-color: $blue;

    @media only screen and (min-width: 1440px) {
      align-self: center;
    }
  }

  &__heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  &__text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.09px;
    color: $grayish-blue;
    margin: 8px 0 0;
  }

  &__icon {
    width: 57px;
    align-self: flex-end;
    margin-top: auto;

    @media only screen and (min-width: 1440px) {
      width: 64px;
    }
  }
}
