/*----------------------------
      layout
 ----------------------------*/
body {
  display: flex;
  justify-content: center;
  // align-items: center;
  min-height: 100vh;
  background-color: hsla(0, 0%, 98%, 1);
}

.card {
  max-width: 19.4375rem;
  // max-width: 28.125rem;
  margin: 5.625rem 4.875rem;

  @media only screen and (min-width: 1150px) {
    max-width: 69.375rem;
  }
}

/*----------------------------
      info section 
----------------------------*/

.info {
  text-align: center;

  &__heading {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.0106rem;
    font-weight: 600;
    color: $dark-blue;

    @media only screen and (min-width: 1150px) {
      font-size: 2.25rem;
      line-height: 3.375rem;
      letter-spacing: 0.0156rem;
    }
  }
  &__title {
    display: block;
    font-weight: 200;
    color: $dark-blue;
  }

  &__paragraph {
    line-height: 1.5625rem;
    letter-spacing: 0.0063rem;
    color: $grayish-blue;

    @media only screen and (min-width: 1150px) {
      max-width: 33.75rem;
      margin: 1.1rem auto;
    }
  }
}

.features {
  margin: 4.75rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;

  @media only screen and (min-width: 1150px) {
    flex-direction: row;
    margin: 4rem 0 0;
    gap: 1.875rem;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 0.25rem;
    box-shadow: 0rem 0.9375rem 1.875rem -0.6875rem hsla(213, 47%, 67%, 0.5);
    height: 10.375rem;
    padding: 1.5281rem 1.75rem 1.75rem 1.75rem;
    border-top: 0.2219rem solid;

    @media only screen and (min-width: 1150px) {
      width: 17.875rem;
      height: 11.625rem;
      border-top: 0.25rem solid;
      border-radius: 0.3125rem;
      padding: 1.75rem 2rem 2rem 2rem ;
    }
  }

  &__feature--cyan {
    border-top-color: $cyan;

    @media only screen and (min-width: 1150px) {
      align-self: center;
    }
    
  }

  &__feature--red {
    border-top-color: $red;
    margin-bottom: 1.5625rem;
    @media only screen and (min-width: 1150px) {
      margin-bottom: 1.875rem;
    }
  }


  &__feature--orange {
    border-top-color: $orange;
  }

  &__feature--blue {
    border-top-color: $blue;

    @media only screen and (min-width: 1150px) {
      align-self: center;
    }
  }

  &__heading {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: $dark-blue;
  }

  &__text {
    font-size: 0.8125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.0056rem;
    color: $grayish-blue;
    margin: 0.5rem 0 0;
  }

  &__icon {
    width: 3.5625rem;
    align-self: flex-end;
    margin-top: auto;

    @media only screen and (min-width: 1150px) {
      width: 4rem;
    }
  }
}
